
@{
    ViewData["Title"] = "Index";
}

<h1>Ürünler</h1>

@if(TempData["status"]!= null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["status"]
    </div>
}

<a asp-controller="products" asp-action="add">Ürün Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>ID: </th>
            <th>İsim: </th>
            <th>Fiyat: </th>
            <th>Stok: </th>
            <th>renk</th>
            <th>İşlem </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>@item.Color</td>
                <td>
                    <a asp-asp-controller="products" asp-action="remove" asp-route-id="@item.Id">SİL</a> 
                    <a asp-asp-controller="products" asp-action="update" asp-route-id="@item.Id">GÜNCELLE</a>
                </td>
        </tr>

    }

    </tbody>
</table>

